/*
* @Author: Homer
* @Date:   2017-12-17 23:50:53
* @Last Modified by:   homer
* @Last Modified time: 2019-05-24 14:12:26
*/

@import '../../components/variables.css';

.nothing {
	height: 400px;
	background-color: white;
	text-align: center;
	position: relative;
}

.fun {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}