/*
* @Author: Michael
* @Date:   2017-4-18
* @Last Modified by:   Michael
* @Last Modified time: 2017-4-18
*/
.paper {
    padding: 15px;
}

.footerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}