/*
* @Author: Michael
* @Date:   2017-4-18
* @Last Modified by:   Michael
* @Last Modified time: 2017-4-18
*/
.primaryText {
    margin: 0;
    font-weight: bold;
}

.note {
    font-size: 12px;
    background-color: lightgray;
    border: 1px solid gray;
    margin-left: 6px;
    padding: 1px 2px;
    border-radius: 2px;
    font-weight: normal;   
}