@import '../../components/variables.css';

.paper {
    padding: 15px;
}

.footerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    height:36px;
}