/*
* @Author: homer
* @Date:   2017-11-05 13:46:52
* @Last Modified by:   Homer
* @Last Modified time: 2017-12-21 21:51:54
*/

@import '../variables.css';

.pageContainer {
	display: flex;
	justify-content: center;
	padding: 20px;
}

.col {
	flex: 1;
	max-width: 450px;
	margin-left: 8px;
	margin-right: 8px;
}

.col:first-of-type {
	margin-left: 0px;
}

.col:last-of-type {
	margin-right: 0px;
}