/*
* @Author: homer
* @Date:   2017-11-05 13:46:52
* @Last Modified by:   Homer
* @Last Modified time: 2017-12-21 21:51:54
*/

@import '../variables.css';

.grid {
	background-color: var(--color-content-background);
}

.mainSlot {
	min-height: 600px;
	padding-bottom: 40px;
}