/*
* @Author: homer
* @Date:   2017-11-05 10:52:06
* @Last Modified by:   Homer
* @Last Modified time: 2017-12-21 21:51:57
*/

@import '../variables.css';

/*
* @Author: homer
* @Date:   2017-11-05 13:46:52
* @Last Modified by:   Homer
* @Last Modified time: 2017-12-21 21:51:54
*/

@import '../variables.css';

.pageContainer {
	display: flex;
	flex: 1;
	/* max-width: 1200px; */
	/* justify-content: center; */
	/* margin: 0 auto; */
	/* margin-top: 20px; */
}

/* @media only screen and (max-width: 1199px) {
	.pageContainer {
		margin-left: 20px;
		margin-right: 20px;
	}
} */