/*
* @Author: Homer
* @Date:   2017-12-17 23:23:04
* @Last Modified by:   Homer
* @Last Modified time: 2018-01-04 20:39:20
*/

@import '../variables.css';

.breadcrumb {
	color: var(--color-text-dark);
	font-size: 14px;
    font-weight: 600;
    line-height: 18px;
}

.light {
	color: var(--color-text-light);
}

.title {
	color: var(--color-text-dark);
}

.separator {
	margin: 0 5px;
}

.titleContainer {
	margin: 30px 0;
}