/*
* @Author: Homer
* @Date:   2017-12-17 23:23:04
* @Last Modified by:   Homer
* @Last Modified time: 2018-01-04 20:39:20
*/

@import '../variables.css';

.titleContainer {
    padding: 15px 20px;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.12);
    background-color: white;
}

.breadcrumb {
	color: var(--color-text-dark);
	font-size: 14px;
    font-weight: 600;
    line-height: 18px;
    margin: 0px;
}

.light {
	color: var(--color-text-light);
}

/* .title {
	color: var(--color-text-dark);
} */

.separator {
	margin: 0 5px;
}